#map {
    flex: 1;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
}

.flex_column {
    display: flex;
    flex-flow: column;
}

.flex_row {
    display: flex;
    flex: 1;
    flex-flow: row nowrap;
    background-color: whitesmoke;
}

/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

#top_bar {
    height: 50px;
    width: 100%;
    background-color: #A8383B;
    color: whitesmoke;
    line-height: 50px;
    text-align: center;
    font-size: 30px;
    flex: 0 auto;
}

#side_bar {
    flex: 0 278px;
    overflow-y: auto;
    padding: 5px 10px;
    background-color: inherit;
    border-width: 0 2px 0 0;
    border-style: solid;
    border-color: #dedede;
    color: darkslategray;
    font-size: 20px;
}

.run_type_wrapper {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: #dedede solid 4px;
    width: 100%;
}

button{
    background-color:#A8383B;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    color: white;
    font-size: 20px;
    width: 100%;
    height: 40px;
}

button:hover{
    background-color:#993336;
}

.input_box {
    width: 100%;
    border: 2px solid #A8383B;
    padding: 5px 4px;
    font-size: 18px;
    box-sizing : border-box;
}

#side_bottom_info_box{
    position: relative;
    color: darkslategray;
    width: 100%;
}

h1{
    margin: 5px 0;
    font-size: 50px;
    width: 100%;
    text-align: center;
}

h2{
    margin: 5px 0;
    width: 100%;
    text-align: center;
}

h3{
    margin: 8px 0;
}

p{
    color: #1d3232;
}

@media all and (max-width: 700px) and (orientation: portrait) {
    .flex_row {
        flex-flow: column-reverse wrap;
    }

    #side_bar {
        border-width: 2px 0 0 0;
        flex: 0 60%;
    }
}